@charset "UTF-8";
@media (min-width: 0px) {
  body {
    padding-bottom: 197px; }

  .slider {
    display: none; }

  .header {
    background-color: #efefef; }
    .header__row:first-child {
      display: none; }
    .header__wrapper {
      padding: 0 10px; }
    .header .logo {
      display: none; }

  .nav {
    display: none; }

  .burger-menu {
    display: flex; }

  .drop-down-menu {
    display: flex; }

  .contacts-form__label {
    display: none; }

  .footer__item {
    display: none;
    width: 100%; }

  .footer__item:nth-child(4) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  .user-info__item {
    width: 280px; } }
@media (min-width: 350px) {
  .header__row:first-child {
    display: flex; }
  .header .logo {
    display: flex; } }
@media (min-width: 597px) {
  body {
    padding-bottom: 140px; } }
@media (min-width: 720px) {
  .header {
    background-color: white; }
    .header__wrapper {
      padding: 0 20px; }

  .slider {
    display: block; }

  .contacts-form__label {
    display: flex; }

  .user-info__item {
    width: 433px; } }
@media (min-width: 800px) {
  body {
    padding-bottom: 140px; } }
@media (min-width: 1025px) {
  body {
    padding-bottom: 197px; }

  .nav {
    display: flex; }

  .burger-menu {
    display: none; }

  .drop-down-menu {
    display: none; }

  .footer__item {
    display: flex;
    width: 290px; }

  .footer__item:nth-child(4) {
    flex-direction: column;
    justify-content: space-between; } }
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  position: relative; }

h1 {
  color: white;
  font-size: 40px; }

h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: center; }

h3 {
  color: white;
  font-size: 22px; }

h4 {
  font-size: 14px;
  font-weight: 400;
  color: #525050;
  margin-top: 5px;
  text-align: center;
  padding: 0 20px; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

/*╨б╤В╨╕╨╗╨╕ ╤И╨░╨┐╨║╨░*/
.header__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box; }
.header__row {
  white-space: nowrap; }
  .header__row:first-child {
    background-color: #182e6a;
    height: 40px; }
  .header__row:nth-child(2) {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.header .logo {
  align-items: flex-end; }
  .header .logo__image {
    width: 50px;
    margin-right: 10px;
    height: 75px;
    background: url("../img/logo-bsu-feather.png") center no-repeat;
    background-size: contain; }
  .header .logo__vertical-line {
    border: none;
    height: 75px;
    width: 1px;
    background-color: #182e6a;
    margin-right: 10px; }
  .header .logo__text {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #182e6a;
    font-weight: 500; }

.choose-lang-btn {
  display: flex;
  color: white;
  right: 240px;
  margin-right: 30px; }
  .choose-lang-btn .lang {
    padding: 0 10px;
    cursor: pointer; }
    .choose-lang-btn .lang:first-child {
      border-right: white solid 1px; }
  .choose-lang-btn_active {
    text-decoration: underline; }

.site-search {
  top: 7px;
  border: none; }
  .site-search__input {
    padding: 2px 4px; }

.search-btn {
  margin: 0 5px;
  background: none;
  border: none;
  color: #efefef;
  cursor: pointer;
  font-size: 20px; }
  .search-btn:hover {
    color: white; }

.nav {
  width: 100%;
  justify-content: flex-end; }
  .nav__item {
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 15px;
    font-weight: 600; }
    .nav__item:first-child {
      margin-left: 30px; }
    .nav__item:last-child {
      margin-right: 0; }
    .nav__item .link {
      cursor: pointer;
      text-decoration: none;
      color: #797979; }
      .nav__item .link:hover {
        color: #182e6a; }

/*╨б╤В╨╕╨╗╨╕ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╡╨╡ ╨╝╨╡╨╜╤О*/
.burger-menu {
  justify-content: flex-end;
  font-size: 30px;
  cursor: pointer;
  color: #797979; }
  .burger-menu:hover {
    color: #182e6a; }

.drop-down-menu {
  width: 100%;
  background-color: #efefef;
  flex-direction: column;
  text-align: center; }
  .drop-down-menu__item {
    padding: 4px 0; }
    .drop-down-menu__item .link {
      cursor: pointer;
      text-decoration: none;
      color: #525050;
      text-transform: uppercase;
      font-weight: 600; }
      .drop-down-menu__item .link:hover {
        color: #182e6a; }

/*╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░*/
.slider__wrapper {
  margin: 0 auto; }
.slider__slide {
  position: relative; }
.slider__text {
  position: absolute;
  bottom: 60%;
  left: 8%; }
.slider .slick-prev {
  left: 10px;
  z-index: 100;
  width: 30px;
  height: 30px; }
  .slider .slick-prev:before {
    font-size: 30px; }
.slider .slick-next {
  right: 10px;
  z-index: 100;
  width: 30px;
  height: 30px; }
  .slider .slick-next:before {
    font-size: 30px; }
.slider .slick-dots {
  bottom: 10px; }
  .slider .slick-dots li button:before {
    font-size: 11px;
    color: white; }
.slider__img {
  height: auto;
  width: 100%; }

/*╨б╤В╨╕╨╗╨╕ ╨▒╨╗╨╛╨║╨░ ╨╛ ╨╜╨░╤Б*/
.info-about {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .info-about__text {
    margin-top: 20px;
    padding: 0 20px 30px 20px; }

.researches {
  min-height: 350px;
  width: 100%; }
  .researches__bg {
    background: url("../img/researches-block-bg.jpg") center no-repeat; }
  .researches__content {
    padding-top: 30px;
    display: flex;
    flex-direction: column; }
  .researches-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto 40px auto; }
    .researches-list__item {
      width: 300px;
      margin-top: 16px;
      padding: 0 8px; }
  .researches .research-icon-bg {
    height: 60px;
    width: 60px;
    background-color: #182e6a;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; }
  .researches .research-icon {
    color: white;
    z-index: 10; }
  .researches .research-name-bg {
    height: 60px;
    background-color: #182e6a;
    opacity: 0.68;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .researches .research-name {
    color: white;
    margin-left: 65px;
    line-height: 18px; }

.socials {
  padding: 30px 20px;
  min-height: 120px;
  background: url("../img/socials-bg.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .socials h2 {
    color: white; }

/*╨б╤В╨╕╨╗╨╕ ╨║╨╛╨╜╤В╨░╨║╤В╤Л*/
.contacts {
  margin-top: 30px; }

.contacts-details {
  background-color: #efefef;
  margin-top: 20px; }
  .contacts-details-wrapper {
    max-width: 1200px;
    min-height: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  .contacts-details__item {
    display: flex;
    align-items: center;
    color: #182e6a;
    font-size: 20px;
    font-weight: 600;
    min-width: 200px;
    padding: 5px 10px; }
  .contacts-details .icon {
    margin-right: 10px; }

.contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacts-form__btn {
    border: solid #182e6a 2px;
    background: none;
    font-size: 22px;
    text-transform: uppercase;
    color: #182e6a;
    padding: 7px 25px;
    margin: 40px 0; }
    .contacts-form__btn:hover {
      background-color: #182e6a;
      color: white; }
  .contacts-form__fields {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .contacts-form .user-info {
    display: flex;
    flex-direction: column;
    padding: 0 15px; }
    .contacts-form .user-info__item {
      display: flex;
      margin-bottom: 24px;
      justify-content: flex-end; }
  .contacts-form .user-message {
    display: flex;
    padding: 0 15px; }
    .contacts-form .user-message__text {
      resize: none;
      font-family: 'Open Sans', sans-serif;
      height: 143px; }
  .contacts-form__label {
    font-size: 22px;
    margin-right: 15px; }
  .contacts-form__input {
    border: none;
    border-bottom: solid #797979 1px;
    font-size: 18px;
    width: 280px;
    box-sizing: border-box;
    padding: 5px 10px; }
  .contacts-form__label_required {
    color: #182e6a; }

[placeholder] {
  font-style: italic; }

/*╨б╤В╨╕╨╗╨╕ ╤Б╨╛╤Ж╤Б╨╡╤В╨╕*/
.socials-list {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .socials-list__item {
    width: 45px;
    height: 45px;
    background-color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    color: black; }
    .socials-list__item:hover {
      transform: scale(1.1, 1.1); }
    .socials-list__item:last-child {
      margin-right: 0; }

/*╨б╤В╨╕╨╗╨╕ ╨┐╨╛╨┤╨▓╨░╨╗*/
.footer {
  background-color: #182e6a;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }
  .footer__address {
    min-width: 280px;
    width: 280px; }
  .footer__wrapper {
    padding: 20px 0;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around; }
  .footer .logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 20px; }
    .footer .logo__image {
      width: 50px;
      margin-right: 10px;
      height: 75px;
      background: url("../img/logo-bsu-feather-white.png") center no-repeat;
      background-size: contain; }
    .footer .logo__vertical-line {
      border: none;
      height: 75px;
      width: 1px;
      background-color: white;
      margin-right: 10px; }
    .footer .logo__text {
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      color: white;
      font-weight: 500; }
  .footer__item {
    padding: 0 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    border-right: 1px solid white; }
    .footer__item .link {
      cursor: pointer;
      text-decoration: none;
      color: white; }
      .footer__item .link:hover {
        color: white; }
      .footer__item .link:hover {
        text-decoration: underline; }
    .footer__item:last-child {
      border-right: none; }
    .footer__item:nth-child(3) {
      padding: 0;
      width: 140px; }

.site-map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .site-map__item {
    margin-left: 10px;
    line-height: 23px; }

/*# sourceMappingURL=styles.css.map */
